<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="../css/formulario.css" />
  </head>

  <body>
    <header></header>
    <nav></nav>
    <section>
      <div>
        <div class="container">
          <div class="myFormulario" id="idMyFormulario">
            <h1>Formulario</h1>

            <div>
              <label for="idNombre">Nombre</label>
              <input v-model="nombre" id="idNombre" type="text" />
            </div>
            <div>
              <label for="idApellidor">Apellido</label>
              <input v-model="apellido" id="idApellido" type="text" />
            </div>
            <div>
              <label for="idHobby">Hobby</label>
              <input v-model="hobby" id="idHobby" type="text" />
            </div>
            <div>
              <label for="idFechaNac">FechaNac</label>
              <input v-model="fechaNac" id="idFechaNac" type="text" />
            </div>

            <div>
              
              <button v-on:click="guardarDatosFinal">Guardar Final</button>
            </div>

            <hr />
            <ul>
              <li v-for="datos in listadatos">
                {{datos.nombre}},{{datos.apellido}},{{datos.hobby}},{{datos.fechaNac}}
              </li>
            </ul>
          </div>
          <script src="../js/formulario.js"></script>
        </div>
      </div>
    </section>
    <footer></footer>
  </body>
</html>
